/* It is recommended to place all your extra/additional CSS rules here */
h3.forsale {
  color: red;
}

#contactForm {
  color: rgb(255, 255, 255);
}

#inputs {
  font-size: 1.2rem;
  font-weight: normal;
}

.inputLabel {
  font-size: 1.8rem;
  margin-bottom: 0px;
}
.textInput {
  width: 50%;
  font-size: 1.8rem;
  color: black;
}

#messageInput {
  height: 200px;
  color: black;
}

.inputP {
  margin-bottom: 3px;
}

.footer-text-line {
  font-size: 1.5rem;
}

/* unvisited link */
a:link {
  color: rgba(255, 72, 0, 0.616);
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: black;
}

.social-icons li {
  margin-bottom: 1.9rem;
  list-style-type: none;
}

.social-logo {
  width: 50px;
}
